# trial
trial.ipynb
train.ipynb
generate.py

# init
.ipynb_checkpoints
__pycache__
data/animeface/

# anime
model_anime.py
train_anime.py
dataset.py
data/generated/anime/
data/log/log_anime.txt
data/animeface/